body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#nav-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#app-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}

#app-title .highlight {
    color: #007bff;
    font-style: italic;
}

#how-it-works-btn {
    font-size: 16px;
    margin-left: 20px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#how-it-works-btn:hover {
    background-color: #0056b3;
}

.upload-label {
    margin-right: 10px;
    margin-left: 20px;
}

#file-upload {
    font-size: 16px;
}

#github-link {
    margin-left: auto;
    margin-right: 20px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

#github-link:hover {
    color: #007bff;
}

#chat-container {
    width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width: 800px) {
    #chat-container {
        width: 100%;
    }
}

#chat-window {
    height: 600px;
    overflow-y: scroll;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#output div {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 80%;
}

#output .user {
    background: #007bff;
    color: #fff;
    margin-left: auto;
    text-align: right;
}

#output .bot {
    background: #e0e0e0;
    margin-right: auto;
}

#user-input,
#send-btn {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

#user-input {
    border-top: 1px solid #ccc;
    flex: 1;
}

#send-btn {
    background: #007bff;
    color: #fff;
    cursor: pointer;
    border-top: 1px solid #ccc;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}